nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20;
    margin: 1em;
    border: 1px solid black;
    padding: 1em;
    background-color: #1C3A13;
    color: white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer p {
    margin: 1em;
    padding: 2px;
    border-top: 2px solid black;
    text-align: center;
}